canvas {
    margin: auto;
    display: block;
    border: 5px solid #000000;
    background-color: #123870;
}

.points_text_box {
    position: absolute;
    font-family: arcadeFont;
    font-size: 200%;
    left: 42%;
    top: 90%;
}

@font-face {
    font-family: arcadeFont;
    src: url("../resources/fonts/retroFont.ttf");
}