canvas {
    margin: auto;
    display: block;
    border: 5px solid #000000;
    background-color: rgb(23, 85, 23);
}

.points_text_box {
    position: absolute;
    font-family: arcadeFont;
    font-size: 200%;
    left: 42%;
    top: 90%;
}
