img, body, h1 { position: absolute; }
button, nav { position: relative; }
body {
    width: 99%;
    height: 98%;
    background-size: auto;
    background-color: rgb(23, 85, 23);
}

h1 {
    left: 33%;
    top: 2%;
    font-family: arcadeFont;
    font-size: 350%;
}

button {
    cursor: auto;
    background-color: rgb(131, 16, 16);
    transition: background-color 1s, color 1s;
    font-family: arcadeFont;
    font-size: 2vw;
    width: 100%;
    height: 70px;
    margin: 5%;
    border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
    border-top: 6px inset rgba(255,255,255,.5);
    border-radius: 100%;
}

nav{
    width: 20%;
    height: 20%;
    left: 37%;
    top: 190px;
}
button:hover { background-color: rgb(156, 154, 31); }


#snake_img1, #snake_img2 {
    top: 40%;
    width: 25%;
}
#snake_img1 { left: 70%; }
#snake_img2 { left: 5%; transform: scaleX(-1);}


@font-face {
    font-family: arcadeFont;
    src: url("../resources/fonts/retroFont.ttf");
}