button { position: relative; font-size: 200%;}

h1 { left: 33%; }
nav{ left: 37%; top: 190px; }

#snake_img1, #snake_img2 { top: 40%; width: 25%; }
#snake_img1 { left: 70%; }
#snake_img2 { left: 5%; transform: scaleX(-1);}

.apple, .golden_apple { 
    width: 15%; 
    top: 11%; 
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
#left1, #left2 { left: 8%; }
#right1, #right2 { left: 75%; }
#left1, #right1 { animation-name: fade1; }
#left2, #right2 { animation-name: fade2; }

@keyframes fade1 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade2 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
